ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: gray;
    top:0;
}
li{
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
img{
    width: 100%;
    height: 700px;
}
.h1{
    position: absolute;
    left: 800px;
    bottom:1000px;
    top:8%;
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
#sub{
    position: relative;
    left: 750px;
    bottom: 600px;
    top:30%;
    color:white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.h2{
    position: absolute;
    left: 850px;
    bottom:1300px;
    top:89%;
    color:black;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;

}
#sub1{
    position: relative;
    left: 750px;
    bottom: 650px;
    top:97%;
    color:black;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.button1{
    border-radius: 40%;
    border-color: blue;
    background-color: white;
    color: blue;
    position: relative;
    bottom: -30px;
    left:-360px;
    width: 80px;
    height: 45px;
    top:60px
   
}
.button1:hover{
    background-color: blue;
    color: white;

}
.img3{
    width:700px;
    height: 550px;
   padding-left: 550px;
}
.div3{
    background-color: whitesmoke;
    
}
.sub2{
    background-color: rgba(51, 51, 51, 0.918);
    color:white;
    height: 45px;
    text-align: center;

    
}