ul{
    list-style-type: none;
    overflow: hidden;
    background-color: gray;
    display: flex;
    font-size: small;
    justify-content: center;
    color: black;
  
}
.hovv:hover{
    color: white;
}
li{
    float: left;
    padding-left:25px ;
    margin-left: 20px ;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: black;
}
img{
    width: 100%;
    height: fit-content;
}
.h1{
    position: absolute;
    left: 800px;
    bottom:1000px;
    top:8%;
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
#sub{
    position: relative;
    left: 750px;
    bottom: 660px;
    top:30%;
    color:white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.h2{
    position: absolute;
    left: 850px;
    bottom:1300px;
    top:89%;
    color:black;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;

}
#sub1{
    position: relative;
    left: 750px;
    bottom: 650px;
    top:97%;
    color:black;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.button1{
    border-radius: 40%;
    border-color: blue;
    background-color: white;
    color: blue;
    position: relative;
    bottom: -30px;
    left:-360px;
    width: 80px;
    height: 45px;
    top:60px
   
}
.button1:hover{
    background-color: blue;
    color: white;

}
.img3{
    width:700px;
    height: 550px;
   padding-left: 550px;
}
.div3{
    background-color: whitesmoke;
    
}
.sub2{
    background-color: rgba(51, 51, 51, 0.918);
    color:white;
    height: 45px;
    text-align: center;

    
}
.div4{
    background-color: whitesmoke;
    height: 600px;
}
.h3{
    position: absolute;
    left: 775px;
    bottom:100px;
    top:255%;
    color:black;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;

}
.sub3{
    position: relative;
    left: 791px;
    bottom: 750px;
    top:15%;
    color:black;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;

}
.img4{
    width:45%;
    height: 400px;
    padding-left:490px;
    padding-top: 90px;
    padding-bottom: 1px;
    
}
.button2{
    border-radius: 40%;
    border-color: blue;
    background-color: blue;
    color: white;
    position: relative;
    bottom: 300px;
    left:-520px;
    width: 80px;
    height: 45px;
    top:-376px

}
.button3{
    border-radius: 40%;
    border-color: blue;
    background-color: white;
    color: blue;
    position: relative;
    bottom: 320px;
    left:-510px;
    width: 80px;
    height: 45px;
    top:-384px
}
.button3:hover{
    background-color: blue;
    color:white
}
.div5{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column: 30px;
    background-color: whitesmoke;
   
}
.div5 > div{
   padding: 10px;
  
}
.h4{
    position: absolute;
    left: 290px;
    bottom:1000px;
    top: 335%;
    color:white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;

}
.sub4{
    position: relative;
    left: 220px;
    bottom: 750px;
    top:20%;
    color:white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.h5{
    position: absolute;
    top: 335%;
    bottom: 100px;
    left: 1250px;
    text-align: center;
    color:black;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    
}
#img5{
    padding: 10px;

}
#img6{
    padding:89px 5px 5px 5px;
    top:50px;

}